<p><b>Nome: </b><%= centro.NOME_CENTRO %></p>
    
<p><b>Nome Curto: </b><%= centro.NOME_CURTO %></p>
<p><b>CNPJ</b><%= centro.CNPJ_CENTRO %></p>
    
<p><b>Fundação: </b><%= centro.DATA_FUNDACAO %></p>

<p><b>Endereço: </b><%= centro.ENDERECO %></p>

<p><b>CEP: </b><%= centro.CEP %></p>

<p><b>Bairro: </b><%= centro.BAIRRO %></p>

<p><b>Cidade: </b><%= centro.CIDADE %></p>

<p><b>Estado: </b><%= centro.ESTADO %></p>

<p><b>País: </b><%= centro.PAIS %></p>

