<p>
    <b>CENTRO:</b> 
    <%= centro.NOME_CURTO %>
</p>

<p>
    <%= centro.NOME_CENTRO %>
<p>
    <%= centro.NOME_CURTO %>
<p>
    <%= centro.CNPJ_CENTRO %>
<p>
    <%= centro.DATA_FUNDACAO %>
<p>
    <%= centro.ENDERECO %>
<p>
    <%= centro.CEP %>
<p>
    <%= centro.BAIRRO %>
<p>
    <%= centro.CIDADE %>
<p>
    <%= centro.ESTADO %>
<p>
    <%= centro.PAIS %>

