<% itemId = `${centroId}${question._id}`%>

<select id="<%= itemId%>" name="<%= itemId%>" class="form-select" questionId="<%=question._id%>"  centroId="<%=centroId%>" onfocusout="updateFormItem(this)">
    <%if(!question.PRESET_VALUES){%>
    <option>Vazio</option>
    <%}else{%>
    <% question.PRESET_VALUES.forEach(function(option) { %>
    <option <%if(question.ANSWER == option){%> selected <%}%>><%= option %></option>
    <% }); %>
    <%}%>
  </select>