<% itemId = `${centroId}${question._id}`%>

<div class="radio">
  <input class="form-check-input" 
  type="radio"
  answerId="<%=question.ANSWER_ID ? question.ANSWER_ID:undefined %>"
  questionId="<%=question._id%>"
  centroId="<%=centroId%>"
  name="<%= itemId%>" 
  id="<%=itemId%>_1" 
  value="true"
  onfocusout="updateFormItem(this)"
  <%if(question.ANSWER == "true" ){%> checked <%}%>
  <label for="<%= itemId%>1"> Sim </label>

  <input
    class="form-check-input"
    type="radio"
    answerId="<%=question.ANSWER_ID ? question.ANSWER_ID:undefined %>"
    questionId="<%=question._id%>"
    centroId="<%=centroId%>"
    name="<%= itemId%>"
    id="<%= itemId%>_2"
    value="false"
    onfocusout="updateFormItem(this)"
    <% if(!question.ANSWER || question.ANSWER!="true" ){%> checked <%}%>
   <label for="<%= itemId%>2"> Não </label>
</div>
