<h3><%=quiz.CATEGORY %></h3>

<%quiz.QUESTIONS.forEach(function(question){ %>

  <div class="mb-3">
  <label for="<%= question._id%>"><%= question.QUESTION%></label>

  <%if(question.ANSWER_TYPE == "Option"){%>


   <%- include('./sub_quiz_option', {question:question});%>

  <%} else if(question.ANSWER_TYPE == "Date"){%>

    <%- include('./sub_quiz_date', {question:question});%>

  <%}else if(question.ANSWER_TYPE == "Boolean"){%>

   
    <%- include('./sub_quiz_radio', {question:question});%>

 
  <%}else if(question.ANSWER_TYPE == "TextArea"){%>
  
  <%=question.ANSWER%>
  <%- include('./sub_quiz_textarea', {question:question});%>
</textarea>


  <%}else{%>

    <%- include('./sub_quiz_input', {question:question});%>
 
</div>


<%} }); %>
