<div class="radio">
  <input class="form-check-input" type="radio" name="<%= question.ANSWER_ID%>" id="<%=
  question.ANSWER_ID%>_1" <%if(question.ANSWER == "true" ){%> checked value="true"<%}%>
  onfocusout="updateFormItem(this)"/>
  <label for="<%= question.ANSWER_ID%>1"> Sim </label>

  <input
    class="form-check-input"
    type="radio"
    name="<%= question.ANSWER_ID%>"
    id="<%= question.ANSWER_ID%>_2"
    <% if(!question.ANSWER || question.ANSWER!="true" ){%> checked value = "false" <%}%>
    onfocusout="updateFormItem(this)"/>
   <label for="<%= question.ANSWER_ID%>2"> Não </label>
</div>
