<div class="validacao">
  <% let pages = results.PAGES; pages.forEach(function(page){%>
  <h3><%=page.PAGE_NAME%></h3>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Título do modal</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-bs-dismiss="modal">Fechar</button>
        <button type="button" class="btn btn-primary">Salvar mudanças</button>
      </div>
    </div>
  </div>
</div>

  <%page.QUIZES.forEach(quiz => {%>

  <div class="form row">
    <span class="border col-md-12">
      <div class="form-group" style="color: #0d6efd">
        <p><b><%=quiz.CATEGORY%> </b></p>
      </div>
    </span>
  </div>

  <div class="form row">
    <%quiz.QUESTIONS.forEach(questionGroup => {
      const group = questionGroup.GROUP;
      const itemSize = 12/group.length;
      group.forEach(question => {
      %>
      <div class="form-group col-md-<%=itemSize%>">
        <p><b><%= question.QUESTION%>:</b> <%= question.ANSWER%></p>
      </div>
      <%});%>
      <%});%>
  </div>

  <%});%> <%});%>
</div>