<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head'); %>
</head>

<body class="body">
  <header class="cabeçalho"><%- include('../partials/header'); %></header>

   <% const indexToNumber = parseInt(index, 10);%>

  <div class="cadastrar-titulo">
    <h2> <%=form_alias  %> </h2>
  </div>

  <div class="cadastrar-links">
    <ul class="nav nav-tabs justify-content-center">
      <% 
           const pages = titles.length
           for(i=0;i<pages;i++){
             let title = titles[i];
            %>
      <li class="nav-item">
        <%if(i == indexToNumber){%>
        <a class="nav-link active" aria-current="page" href="/cadastro_alianca?ID=<%=centro_id%>&page=<%=i%>"><%=i+1%>°
          <%=title%></a>

        <%}else{%>
        <a class="nav-link" href="/cadastro_alianca?ID=<%=centro_id%>&page=<%=i%>"><%=i+1%>° <%=title%></a>
        <%}%>
          </li>
          <%};%>
      <li class="nav-item">

        <%if(indexToNumber>=pages){%>
        <a class="nav-link active" aria-current="page" href="/cadastro_alianca?ID=<%=centro_id%>&page=<%=i%>"><%=i+1%>°
          Validação</a>

        <%}else{%>
        <a class="nav-link" href="/cadastro_alianca?ID=<%=centro_id%>&page=<%=i%>"><%=i+1%>° Validação</a>
        <%}%>
          </li>

        </ul>
      </div>

      <div>
        <form class="cadastrar-form" name="quiz" action="/quiz" method="post">
          <input type="hidden" id="form_alias" name="form_alias" value="<%=form_alias%>" />
        <input type="hidden" id="centro_id" name="centro_id" value="<%=centro_id%>" />
        <input type="hidden" id="page" name="page" value="<%=index%>" />
        <input type="hidden" id="page" name="redirect" value="/cadastro_alianca?ID=<%=centro_id%>" />

        <%
            const maxPage = results.PAGES.length;

            if(indexToNumber >= maxPage){%>
        <%- include('../partials/summary', {quiz:results}); %>
        <%}else{
            let page = results.PAGES[indexToNumber];

            page.QUIZES.forEach(function(result){%>
        <%- include('../partials/sub_quiz', {quiz:result, centroId: centro_id}); %>
        <%}); %>
        <%}%>

          <div class="cadastrar-botoes">
            <ul>
              <%if(indexToNumber > 0){ %>
              <li>
                <a href="/cadastro_alianca?ID=<%=centro_id%>&page=<%=indexToNumber - 1%>">
                  <button class="btn btn-primary" value="previous" name="action">Anterior</button>
                </a>
              </li>
              <%}%>
                    <%if(indexToNumber == pages && canSend){%>
              <li>
                <button type="submit" class="btn btn-primary" value="send" name="action">Finalizar</button>
              </li>
              <%}%>
              <%if(indexToNumber < pages){%>
              <li>
                <a href="/cadastro_alianca?ID=<%=centro_id%>&page=<%=indexToNumber+1%>">
                  <button class="btn btn-primary" value="next" name="action">Próximo</button>
                </a>

              </li>
              <%}%>
            </ul>
          </div>
    </form>
  </div>
    <footer>
          <%- include('../partials/footer'); %>
      </footer>
      <script>

    function updateFormItem(item){

      console.log("----CHEGOU", item, item.id)

      const subId = item.id.split("_")

      id = subId[0]

      console.log("-=-=--=", id)

      var itemsChanged = document.getElementsByName(id);
      var itemChanged

console.log("--CHANGED", itemsChanged)

      for (let index = 0; index < itemsChanged.length; index++) {
        const element = itemsChanged[index];
        if(element.value){
          itemChanged = element
          break;
        }
      }

      const answerId = item.id
      
      console.log("---UPDATE---", item, item.id, itemChanged, itemChanged.value)
      var apiUrl = `update_answer?answerId=${answerId}&answer=${itemChanged.value.toString()}`
          fetch(apiUrl,{
            method: 'PUT'
          }).then(response => {
            return response.json();
          }).then(data => {
            const responseInfo = data[0];
          }).catch(err => {
            console.log("---ERROR---", err)
            // Do something for an error here
          });
    }

    function callCreateRoute(table, clone, groupId, quizId, centroId){
        var apiUrl = `add_answer?groupId=${groupId}&quizId=${quizId}&centroId=${centroId}`
        fetch(apiUrl,{
          method: 'POST'
        }).then(response => {
          
          return response.json();
        }).then(data => {
          const children = clone.children;
          
          console.log("---DATAADDED---", data)
          for (let index = 0; index < data.length; index++) {

            const item = data[index];
            const child = children[index];
            const childrenOfChildren = child.children;
            console.log("--ENTROU---")

            for (let index = 0; index < childrenOfChildren.length; index++) {
              const childOfChild = childrenOfChildren[index];
              console.log("--VAI SETAR---", childOfChild, item)
              childOfChild.setAttribute("id", item.ID); 
              childOfChild.setAttribute("name", item.ID);
              childOfChild.setAttribute("value", item.ANSWER);
            }
          }

          var row = table.insertRow(-1);
          row.appendChild(clone)
        }).then(data=>{
          console.log("----ITEM ADDED", data)
        }).catch(err => {
          console.log("---ERROR---", err)
          // Do something for an error here
        });
      }

    function callDeleteRoute(item, table_id, answerId){
        var apiUrl = `remove_answer?answerId=${answerId}`
        fetch(apiUrl,{
          method:'DELETE'
        }).then(response => {
          var p = item.parentNode;
          p.remove();
          return response.json();
        }).then(data => {
          console.log("--ITEM REMOVED--")
        }).catch(err => {
          console.log("---ERROR---", err)
          // Do something for an error here
        });
      }

    function Add(groupId, quizId, centroId) {
        var table = document.getElementById(groupId);
        var template = document.getElementsByName(`group_${groupId}`);
        
        let lastTemplate = template[template.length-1];
        
        var clone = lastTemplate.cloneNode(true);
        
        callCreateRoute(table, clone, groupId, quizId, centroId)
    }

    function Delete(item, table_id){
      console.log(table_id);

      console.log("----ITEM----", item)
      const itemParent = item.parentNode
      const itemParentParent = itemParent.parentNode
      const children = itemParentParent.children

      console.log("----FAMILY---", itemParent, children)

      if(children.length == 1){
        return;
      }

      for (let index = 0; index < children.length; index++) {
        const element = children[index];
        console.log("----ELEMENT---", element)
        const elementChildren = element.children;

        console.log("---ELEMENTCHILDREN--", elementChildren, elementChildren.length)

        for (let j = 0; j < elementChildren.length; j++) {
          const elementChild = elementChildren[j];
          id = elementChild.getAttribute("id")
          if(id){
            callDeleteRoute(element, table_id, id)
            break;
          }
        }
      }
    }
  
  </script>
</body>

</html>