<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head'); %>
</head>

<body class="body">
  <header class="cabeçalho"><%- include('../partials/header'); %></header>

   <% const indexToNumber = parseInt(index, 10);%>

  <div class="cadastrar-titulo">
    <h2> <%=form_alias  %> </h2>
  </div>

  <div class="cadastrar-links">
    <ul class="nav nav-tabs justify-content-center">
      <% 
           const pages = titles.length
           for(i=0;i<pages;i++){
             let title = titles[i];
            %>
      <li class="nav-item">
        <%if(i == indexToNumber){%>
        <a class="nav-link active" aria-current="page" href="/cadastro_alianca?ID=<%=centro_id%>&page=<%=i%>"><%=i+1%>°
          <%=title%></a>

        <%}else{%>
        <a class="nav-link" href="/cadastro_alianca?ID=<%=centro_id%>&page=<%=i%>"><%=i+1%>° <%=title%></a>
        <%}%>
          </li>
          <%};%>
      <li class="nav-item">

        <%if(indexToNumber>=pages){%>
        <a class="nav-link active" aria-current="page" href="/cadastro_alianca?ID=<%=centro_id%>&page=<%=i%>"><%=i+1%>°
          Validação</a>

        <%}else{%>
        <a class="nav-link" href="/cadastro_alianca?ID=<%=centro_id%>&page=<%=i%>"><%=i+1%>° Validação</a>
        <%}%>
          </li>

        </ul>
      </div>

      <div>
        <form class="cadastrar-form" name="quiz" action="/quiz" method="post">
          <input type="hidden" id="form_alias" name="form_alias" value="<%=form_alias%>" />
        <input type="hidden" id="centro_id" name="centro_id" value="<%=centro_id%>" />
        <input type="hidden" id="page" name="page" value="<%=index%>" />
        <input type="hidden" id="page" name="redirect" value="/cadastro_alianca?ID=<%=centro_id%>" />

        <%
            const maxPage = results.PAGES.length;

            if(indexToNumber >= maxPage){%>
        <%- include('../partials/summary', {quiz:results}); %>
        <%}else{
            let page = results.PAGES[indexToNumber];

            page.QUIZES.forEach(function(result){%>
        <%- include('../partials/sub_quiz', {quiz:result, centroId: centro_id}); %>
        <%}); %>
        <%}%>

          <div class="cadastrar-botoes">
            <ul>
              <%if(indexToNumber > 0){ %>
              <li>
                <a href="/cadastro_alianca?ID=<%=centro_id%>&page=<%=indexToNumber - 1%>">
                  <button class="btn btn-primary" value="previous" name="action">Anterior</button>
                </a>
              </li>
              <%}%>
                    <%if(indexToNumber == pages && canSend){%>
              <li>
                <button type="submit" class="btn btn-primary" value="send" name="action">Finalizar</button>
              </li>
              <%}%>
              <%if(indexToNumber < pages){%>
              <li>
                <a href="/cadastro_alianca?ID=<%=centro_id%>&page=<%=indexToNumber+1%>">
                  <button class="btn btn-primary" value="next" name="action">Próximo</button>
                </a>

              </li>
              <%}%>
            </ul>
          </div>
    </form>
  </div>
    <footer>
          <%- include('../partials/footer'); %>
      </footer>
      <script>

    function updateFormItem(item){
      var itemChanged = document.getElementById(item.id);
      const answerId = item.id

      var apiUrl = `update_answer?answerId=${answerId}&answer=${itemChanged.value.toString()}`
          fetch(apiUrl).then(response => {
            return response.json();
          }).then(data => {
            const responseInfo = data[0];
          }).catch(err => {
            console.log("---ERROR---", err)
            // Do something for an error here
          });
    }

    function callCreateRoute(clone, groupId, quizId, centroId){
        var apiUrl = `add_answer?groupId=${groupId}&quizId=${quizId}&centroId=${centroId}`
        fetch(apiUrl).then(response => {
          
          return response.json();
        }).then(data => {
          const children = clone.children;

          for (let index = 0; index < data.length; index++) {
            const item = data[index];
            const child = children[index];
            const childrenOfChildren = child.children;

            for (let index = 0; index < childrenOfChildren.length; index++) {
              const childOfChild = childrenOfChildren[index];
              childOfChild.setAttribute("id", item.ID); 
              childOfChild.setAttribute("name", item.ID);
            }
          }
        }).catch(err => {
          console.log("---ERROR---", err)
          // Do something for an error here
        });
      }

    function AddNewDataItems(clone, groupId, quizId, centroId){
      callCreateRoute(clone, groupId, quizId, centroId)
    }


    function Add(groupId, quizId, centroId) {
        var table = document.getElementById(groupId);
        var template = document.getElementsByName(`group_${groupId}`);
        
        let lastTemplate = template[template.length-1];
        
        var clone = lastTemplate.cloneNode(true);
        
        AddNewDataItems(clone, groupId, quizId, centroId)
        var rowCount = table.rows.length;
        var row = table.insertRow(-1);
        row.appendChild(clone)
    }

    function Delete(r, table_id){
      console.log(table_id)
        var i = r.parentNode.parentNode.rowIndex;
        let tab = document.getElementById(table_id);
        if(tab.rows.length > 1){
          tab.deleteRow(i);
        } 
    }
  
  </script>
</body>

</html>