<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body class="body">
    <header class="cabeçalho"><%- include('../partials/header'); %></header>
    <div class="cadastrar-titulo">
      <h2>Validação de Informações</h2>
    </div>
    <div class="validacao-coord-subtitulo">
      <h3>Regional <%= regionalInfo.NOME_REGIONAL%></h3>
      <p><b> Coordenador:</b></p>
      <p><b> Quantidade de Casas:<%=centros.length%></b></p>
      <div class="form row">
        <span class="border col-md-12"
          ><div class="form-group">
            <p><b>Observações da Secretaria:</b></p>
          </div></span
        >
      </div>
      <br />
    </div>
    <div class="validacao-coord-dados">
      <div class="form row">
        <span class="border col-md-12"
          ><div class="form-group" style="color: #0d6efd">
            <p><b>Status das Atualizações </b></p>
          </div></span
        >
        <span class="border col-md-4"
          ><div class="form-group" style="color: #0d6efd">
            <p><b>Situação das Casas</b></p>
          </div></span
        >
        <span class="border col-md-8"
          ><div class="form-group" style="color: #0d6efd">
            <p><b>Situação do Coordenador</b></p>
          </div></span
        >
      </div>
      <div class="form row">
        <span class="border col-md-2"
          ><div class="form-group">
            <p><b>Atualizadas</b></p>
          </div></span
        >
        <span class="border col-md-2"
          ><div class="form-group" style="color: red">
            <p><b>Pendentes</b></p>
          </div></span
        >
        <span class="border col-md-2"
          ><div class="form-group">
            <p><b>Integradas</b></p>
          </div></span
        >
        <span class="border col-md-2"
          ><div class="form-group">
            <p><b>Inscritas</b></p>
          </div></span
        >
        <span class="border col-md-2"
          ><div class="form-group" style="color: red">
            <p><b>Pendentes</b></p>
          </div></span
        >
        <span class="border col-md-2"
          ><div class="form-group">
            <p><b>Desfiliadas</b></p>
          </div></span
        >
      </div>
      <div class="form row">
        <span class="border col-md-2"
          ><div class="form-group"><p>0</p></div></span
        >
        <span class="border col-md-2"
          ><div class="form-group"><p>0</p></div></span
        >
        <span class="border col-md-2"
          ><div class="form-group"><p>0</p></div></span
        >
        <span class="border col-md-2"
          ><div class="form-group"><p>0</p></div></span
        >
        <span class="border col-md-2"
          ><div class="form-group"><p>0</p></div></span
        >
        <span class="border col-md-2"
          ><div class="form-group"><p>0</p></div></span
        >
      </div>
      <div class="form row">
        <span class="border col-md-2"
          ><div class="form-group"><p>0%</p></div></span
        >
        <span class="border col-md-2"
          ><div class="form-group"><p>0%</p></div></span
        >
        <span class="border col-md-2"
          ><div class="form-group"><p>0%</p></div></span
        >
        <span class="border col-md-2"
          ><div class="form-group"><p>0%</p></div></span
        >
        <span class="border col-md-2"
          ><div class="form-group"><p>0%</p></div></span
        >
        <span class="border col-md-2"
          ><div class="form-group"><p>0%</p></div></span
        >
      </div>
      <br />

      <div class="form row">
        <span class="border col-md-12"
          ><div class="form-group" style="color: #0d6efd">
            <p><b>Atualização pelo Coordenador </b></p>
          </div></span
        >
      </div>
      <div class="form row">
        <span class="border col-md-2"
          ><div class="form-group">
            <p><b>Nome da Casa:</b></p>
          </div></span
        >
        <span class="border col-md-1"
          ><div class="form-group">
            <p><b>Apelido</b></p>
          </div></span
        >
        <span class="border col-md-1"
          ><div class="form-group">
            <p><b>Tipo </b></p>
          </div></span
        >
        <span class="border col-md-2"
          ><div class="form-group">
            <p><b>Status </b></p>
          </div></span
        >
        <span class="border col-md-2"
          ><div class="form-group" style="color: red">
            <p><b>Situação</b></p>
          </div></span
        >
        <span class="border col-md-2"
          ><div class="form-group">
            <p><b> Part. Reuniões (%)</b></p>
          </div></span
        >
        <span class="border col-md-2"
          ><div class="form-group">
            <p><b>Data da Avaliação</b></p>
          </div></span
        >
      </div>

      <% centros.forEach(function(centro) { %>
      <div class="form row">
        <span class="border col-md-2"
          ><div class="form-group"><p><%=centro.NOME_CENTRO%></p></div></span
        >
        <span class="border col-md-1"
          ><div class="form-group"><p><%=centro.NOME_CURTO%></p></div></span
        >
        <span class="border col-md-1"
          ><div class="form-group"><p>Antiga/ Nova</p></div></span
        >
        <span class="border col-md-2"
          ><div class="form-group"><p>Pendente/ Atualizada</p></div></span
        >
        <span class="border col-md-2"
          ><div class="form-group">
            <select
              class="form-select"
              id="Trabalho Centro Espírita"
              aria-label="Default select example"
            >
              <option selected>Selecione</option>
              <option value="ABC">Inscrito</option>
              <option value="Araraquara">Integrado</option>
            </select>
          </div>
        </span>
        <span class="border col-md-2"
          ><div class="form-group"><p>xx</p></div></span
        >
        <span class="border col-md-2"
          ><div class="form-group"><p>xx</p></div></span
        >
      </div>

      <%});%>

      <br />

      <div class="form row">
        <span class="border col-md-12">
          <div class="form-group" style="color: #0d6efd">
            <p><b>Informações das Casas em 2020 </b></p>
          </div>
        </span>
        <span class="border col-md-12">
          <div class="form-group">
            <p><b>Trabalhos Gerais </b></p>
          </div>
        </span>
      </div>
      <div class="form row">
        <span class="border col-md-2"
          ><div class="form-group">
            <p><b>Situação 2020</b></p>
          </div></span
        >
        <span class="border col-md-2"
          ><div class="form-group">
            <p><b>Curso Básico</b></p>
          </div></span
        >
        <span class="border col-md-2"
          ><div class="form-group">
            <p><b>Pré-Mocidade</b></p>
          </div></span
        >
        <span class="border col-md-2"
          ><div class="form-group">
            <p><b>Curso de Méd.</b></p>
          </div></span
        >
        <span class="border col-md-2"
          ><div class="form-group">
            <p><b>Evang. Inf.</b></p>
          </div></span
        >
        <span class="border col-md-1"
          ><div class="form-group">
            <p><b>EAE</b></p>
          </div></span
        >
        <span class="border col-md-1"
          ><div class="form-group">
            <p><b>Mocidade</b></p>
          </div></span
        >
      </div>
      <div class="form row">
        <span class="border col-md-2"
          ><div class="form-group"><p>xxx</p></div></span
        >
        <span class="border col-md-2"
          ><div class="form-group"><p>xxx</p></div></span
        >
        <span class="border col-md-2"
          ><div class="form-group"><p>xxx</p></div></span
        >
        <span class="border col-md-2"
          ><div class="form-group"><p>xxx</p></div></span
        >
        <span class="border col-md-2"
          ><div class="form-group"><p>xxx</p></div></span
        >
        <span class="border col-md-1"
          ><div class="form-group"><p>xxx</p></div></span
        >
        <span class="border col-md-1"
          ><div class="form-group"><p>xxx</p></div></span
        >
      </div>
      <br />
      <div class="form row">
        <span class="border col-md-12"
          ><div class="form-group">
            <p><b>Assistência Espiritual</b></p>
          </div></span
        >
      </div>
      <div class="form row">
        <span class="border col-md-2"
          ><div class="form-group">
            <p><b>Segunda-Feira</b></p>
          </div></span
        >
        <span class="border col-md-2"
          ><div class="form-group">
            <p><b>Terça-Feira</b></p>
          </div></span
        >
        <span class="border col-md-2"
          ><div class="form-group">
            <p><b>Quarta-Feira</b></p>
          </div></span
        >
        <span class="border col-md-2"
          ><div class="form-group">
            <p><b>Quinta-Feira</b></p>
          </div></span
        >
        <span class="border col-md-2"
          ><div class="form-group">
            <p><b>Sexta-Feira</b></p>
          </div></span
        >
        <span class="border col-md-1"
          ><div class="form-group">
            <p><b>Sábado</b></p>
          </div></span
        >
        <span class="border col-md-1"
          ><div class="form-group">
            <p><b>Domingo</b></p>
          </div></span
        >
      </div>
      <div class="form row">
        <span class="border col-md-2"
          ><div class="form-group"><p>xxx</p></div></span
        >
        <span class="border col-md-2"
          ><div class="form-group"><p>xxx</p></div></span
        >
        <span class="border col-md-2"
          ><div class="form-group"><p>xxx</p></div></span
        >
        <span class="border col-md-2"
          ><div class="form-group"><p>xxx</p></div></span
        >
        <span class="border col-md-2"
          ><div class="form-group"><p>xxx</p></div></span
        >
        <span class="border col-md-1"
          ><div class="form-group"><p>xxx</p></div></span
        >
        <span class="border col-md-1"
          ><div class="form-group"><p>xxx</p></div></span
        >
      </div>
    </div>

    <div class="cadastrar-botoes">
      <button type="button" class="btn btn-success btn">Atualizar</button>
    </div>
    <br />
    <footer><%- include('../partials/footer'); %></footer>
  </body>
</html>
