<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body class="body">
    <%- include('../partials/quiz_validate');%>
    <header class="cabeçalho"><%- include('../partials/header'); %></header>
    <div class="cadastrar-titulo">
      <h2>Validação de Informações</h2>
    </div>
    <div class="validacao-coord-subtitulo">
      <h3>Regional <%= regionalInfo.NOME_REGIONAL%></h3>
      <p><b> Coordenador:<%= coordenador.NOME%></b></p>
      <p><b> Quantidade de Casas:<%=centros.length%></b></p>
      <div class="form row">
        <span class="border col-md-12"
          ><div class="form-group">
            <p><b>Observações da Secretaria:</b></p>
          </div></span
        >
      </div>
      <br />
    </div>
    <%
    totalRespostas = 0
    totalCentros = centros.length
    porcentagemRespostas = 100*totalRespostas/totalCentros
    porcentagemRespostasFaltantes = 100 - porcentagemRespostas
    const defaultResponse = {
            ANSWER_ID:"",
            _id:"",
            ANSWER:""
          }

    const defaultOptionResponse = {
            ANSWER_ID:"",
            _id:"",
            ANSWER:"",
            PRESET_VALUES:["Integrada", "Inscrita", "Desfiliada", "Encerrada"]
          }
    %>
    <div class="validacao-coord-dados">
      <div class="form row">
        <span class="border col-md-12"
          ><div class="form-group" style="color: #0d6efd">
            <p><b>Status das Atualizações </b></p>
          </div></span
        >
        <span class="border col-md-4"
          ><div class="form-group" style="color: #0d6efd">
            <p><b>Situação das Casas</b></p>
          </div></span
        >
        <span class="border col-md-8"
          ><div class="form-group" style="color: #0d6efd">
            <p><b>Situação do Coordenador</b></p>
          </div></span
        >
      </div>
      <div class="form row">
        <span class="border col-md-2"
          ><div class="form-group">
            <p><b>Atualizadas</b></p>
          </div></span
        >
        <span class="border col-md-2"
          ><div class="form-group" style="color: red">
            <p><b>Pendentes</b></p>
          </div></span
        >
        <span class="border col-md-2"
          ><div class="form-group">
            <p><b>Integradas</b></p>
          </div></span
        >
        <span class="border col-md-2"
          ><div class="form-group">
            <p><b>Inscritas</b></p>
          </div></span
        >
        <span class="border col-md-2"
          ><div class="form-group" style="color: red">
            <p><b>Pendentes</b></p>
          </div></span
        >
        <span class="border col-md-2"
          ><div class="form-group">
            <p><b>Desfiliadas</b></p>
          </div></span
        >
      </div>
      <div class="form row">
        <span class="border col-md-2"
          ><div class="form-group"><p><%=totalRespostas%></p></div></span
        >
        <span class="border col-md-2"
          ><div class="form-group"><p><%=totalCentros - totalRespostas%></p></div></span
        >
        <span class="border col-md-2"
          ><div class="form-group"><p id="Integradas">0</p></div></span
        >
        <span class="border col-md-2"
          ><div class="form-group"><p id="Inscritas">0</p></div></span
        >
        <span class="border col-md-2"
          ><div class="form-group"><p id="Pendentes">0</p></div></span
        >
        <span class="border col-md-2"
          ><div class="form-group"><p id="Desfiliadas">0</p></div></span
        >
      </div>
      <div class="form row">
        <span class="border col-md-2"
          ><div class="form-group"><p><%=Math.round(porcentagemRespostas)%>%</p></div></span
        >
        <span class="border col-md-2"
          ><div class="form-group"><p><%=100 - Math.round(porcentagemRespostas)%>%</p></div></span
        >
        <span class="border col-md-2"
          ><div class="form-group"><p id="Integradas_percent">0%</p></div></span
        >
        <span class="border col-md-2"
          ><div class="form-group"><p id="Inscritas_percent">0%</p></div></span
        >
        <span class="border col-md-2"
          ><div class="form-group"><p>0%</p></div></span
        >
        <span class="border col-md-2"
          ><div class="form-group"><p>0%</p></div></span
        >
      </div>
      <br />

      <div class="form row">
        <span class="border col-md-12"
          ><div class="form-group" style="color: #0d6efd">
            <p><b>Atualização pelo Coordenador </b></p>
          </div></span
        >
      </div>
      <div class="form row">
        <span class="border col-md-4"
          ><div class="form-group">
            <p><b>Nome da Casa:</b></p>
          </div></span
        >
        <span class="border col-md-1"
          ><div class="form-group">
            <p><b>Apelido</b></p>
          </div></span
        >
        <span class="border col-md-1"
          ><div class="form-group">
            <p><b>Tipo </b></p>
          </div></span
        >
        <span class="border col-md-2"
          ><div class="form-group" style="color: red">
            <p><b>Situação</b></p>
          </div></span
        >
        <span class="border col-md-2"
          ><div class="form-group">
            <p><b> Part. Reuniões (%)</b></p>
          </div></span
        >
        <span class="border col-md-2"
          ><div class="form-group">
            <p><b>Data da Avaliação</b></p>
          </div></span
        >
      </div>

      <% centros.forEach(function(centro) { 
        
        %>
        <div class="form row " style="background-color:rgb(222, 49, 99);" name="centro" id="<%=centro.ID%>">
        <span class="border col-md-4"
          ><div class="form-group"><p>
            <a href="/cadastro_alianca?ID=<%=centro.ID%>&page=0">
            <%=centro.NOME_CENTRO%>
            </a>
            </p></div></span
        >
        <span class="border col-md-1"
          ><div class="form-group"><p><%=centro.NOME_CURTO%></p></div></span
        >
        <span class="border col-md-1"
          ><div class="form-group"><p>Antiga/ Nova</p></div></span
        >
        
        <span class="border col-md-2"
          ><div class="form-group" name="prop_0">
            <%
            questionInfo = defaultOptionResponse
            %>
            <%- include('../partials/sub_quiz_option', {question:questionInfo});%>
          </div>
        </span>
        <span class="border col-md-2"
          ><div class="form-group" name="prop_1">
            <%
            questionInfo = defaultResponse
            %>
            <%- include('../partials/sub_quiz_input', {question:questionInfo});%></div></span
        >
        <span class="border col-md-2"
          ><div class="form-group"><p>
                Não Finalizado
          </p></div></span>
      </div>

      <%});%>

      <br />
  
    <br />

      <script>

        $(document).ready(function(){
          var centros = <%- JSON.stringify(centros) %> 
          setCentrosResponses(centros)
        });

        function setSummaryInfo(data){
          let integradas = document.getElementById("Integradas");
            
            let integradasAmount = data.Integradas.length
            let inscritasAmount = data.Inscritas.length

            integradas.innerText = Math.round(integradasAmount)
            let inscritas =  document.getElementById("Inscritas");
            inscritas.innerText = Math.round(inscritasAmount)
            
            
            let  percent = 100* integradasAmount / (integradasAmount + inscritasAmount)
            let Integradas_percent = document.getElementById("Integradas_percent");
            Integradas_percent.innerText = Math.round(percent).toString().concat("%")
            let inscritas_percent =  document.getElementById("Inscritas_percent");
            inscritas_percent.innerText = Math.round(100 - percent).toString().concat("%")
        }

        function checkSituacao(nomeRegional){

          const prop_0 = document.getElementsByName("prop_0")
          const prop_1 = document.getElementsByName("prop_1")

          let data = {
            Integradas:[{}],
            Inscritas:[{}]
          }

          
          for (const iterator of prop_0) {
            const value = iterator.children[0].value
            data[`${value}s`].push(iterator.children[0])
          }
          
          setSummaryInfo(data)
        }

          function getCentroSummary(summaries, centroId){
           return summaries.find(m=> {
             return m.CENTRO_ID === centroId
           })
          }

          async function getCentroResponses(centroId){

            console
            try {
              var coord_quiz = '<%- JSON.stringify(coord_quiz) %>'
              var apiUrl = `bff/coord_responses?centroID=${centroId}`;
              let responseInfo = await fetch(apiUrl,{
                headers: {
                  "Content-Type": "application/json"
                },
                method: "POST",
                body: coord_quiz
              });
  
              responseInfo = await responseInfo.json();

              return responseInfo
              
            } catch (error) {
              console.log(`Error at getCentroResponses ${centroId}`, error)
              throw(error)
            }
          }

        async function setCentroResponse(centroDiv, centro){
          let responseInfo = await getCentroResponses(centro.ID);

          const situacao = centroDiv.children[3].children[0].children[0]
          const participacao = centroDiv.children[4].children[0].children[0]
          

          situacao.setAttribute("id", responseInfo[0].ANSWER_ID)
          situacao.setAttribute("name", responseInfo[0].ANSWER_ID)
          situacao.setAttribute("questionid", responseInfo[0]._id)
          situacao.setAttribute("value", responseInfo[0].ANSWER)
          
          participacao.setAttribute("id", responseInfo[1].ANSWER_ID)
          participacao.setAttribute("name", responseInfo[1].ANSWER_ID)
          participacao.setAttribute("questionid", responseInfo[1]._id)
          participacao.setAttribute("value", responseInfo[1].ANSWER)


        }

        async function setCentroSummary(centroDiv, summaries, centro){
            let centroSummary = await getCentroSummary(summaries, centro.ID)
           
            const avaliacao = centroDiv.children[5].children[0].children[0]

            console.log("SUMARY", centroSummary)
            
            if(centroSummary && centroSummary.ANSWERS.length>0){
              console.log("ENTROU")
              const lastSummary = centroSummary[centroSummary.length - 1]
              // avaliacao.innerHTML = lastSummary.LASTMODIFIED;
              centroDiv.setAttribute("style", "background-color:rgb(159, 226, 191);")
            }
        }

        async function setCentroInfo(summaries, centro){
          const centroDiv = document.getElementById(centro.ID)

          const situacao = centroDiv.children[3].children[0].children[0]

          try {

            setCentroResponse(centroDiv, centro)
            setCentroSummary(centroDiv, summaries, centro)
           
          } catch (error) {
            console.log(`Error setCentroInfo ${centro.NOME_CENTRO}`, error)
            throw(error)
          }


        }

        async function setCentrosResponses(centros){
          console.log("Started")
          let summaries = <%- JSON.stringify(summaries) %> 

          console.log("Summaries", summaries)
          for (const centro of centros) {
            console.log(`CENTRO : ${centro.ID}` )
            setCentroInfo(summaries, centro)  
          }
        }

        var intervalId = window.setInterval(function(){
          /// call your function here
          checkSituacao("<%=regionalInfo.NOME_REGIONAL %>")
        }, 5000);
        </script>

    <footer><%- include('../partials/footer'); %></footer>
  </body>
</html>
